{% extends "base.html" %}
{% block content %}

  <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">极客攻略</h1>
                <p class="lead">专注于智能化技术</p>
                <p class="lead">软件基本开源，由于软件涉及数据，可能会存在误报毒，可以放心使用，介意者可以选择其他软件</p>
                <p class="lead" >
                    <a href="http://qun.qzone.qq.com/group" class="btn btn-lg btn-secondary"">QQ群数据抓取</a>
                </p>
                <p class="lead">
                <a href="http://www.xymodel.com" ><small>了解更多</small></a>
                </p>
          </div>
        </div>
      </div>
  </div>

{% endblock %}