<div style="position: fixed; z-index: 999;width: 100%;">
    <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px;">
        <p class="navbar-text"><a href="/" class="navbar-link">首页</a> </p>
        <p class="navbar-text"><a href="/datas" class="navbar-link">抓取数据</a> </p>
        <p class="navbar-text"><a href="/setting" class="navbar-link">微信设置</a> </p>
        <p class="navbar-text"><a href="#" class="navbar-link">程序配置</a> </p>
        <p class="navbar-text navbar-right" style="margin-right: 20px;"><a href="http://www.xymodel.com" class="navbar-link">官网帮助</a></p>
    </nav>
</div>